{% extends "base/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
{% endblock styles %}

{% block content %}
<p class="details__title"> {{ detail_text }} </p>

<div class="details">
    <div class="buttons__container">
        <a href="{{ url_for(update_url, id=object.id) }}" class="update__button">Обновить</a>
        <a href="{{ url_for(delete_url, id=object.id) }}" class="delete__button">Удалить</a>
    </div>
	{% block details %}
	{% endblock %}
</div>

{% endblock %}