{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock styles %}

{% block content %}
	<div class="cards__container">
		<a class="card__container" href="{{ url_for('users_router.table') }}">
			<div
					class="card__picture"
					style="background-image: url('{{ url_for('static', filename='icons/user.svg') }}');">
			</div>
			<p class="card__title">Users</p>
		</a>
		<a class="card__container">
			<div
					class="card__picture"
					style="background-image: url('{{ url_for('static', filename='icons/user.svg') }}');">
			</div>
			<p class="card__title">Users</p>
		</a>
		<a class="card__container">
			<div
					class="card__picture"
					style="background-image: url('{{ url_for('static', filename='icons/user.svg') }}');">
			</div>
			<p class="card__title">Users</p>
		</a>
	</div>
{% endblock %}