{% extends "base/table.html" %}

{% block th %}
{#    <th>ID</th>#}
    <th>Username</th>
    <th>Initials</th>
{#    <th>Date Of Birth</th>#}
{#    <th>Phone Number</th>#}
{#    <th>Registration Address</th>#}
    <th>Gender</th>
    <th>Role</th>
{% endblock %}

{% block td %}
    {% for object in objects %}
        <tr onclick="window.location='{{ url_for('users_router.details', id=object.id) }}';" class="clickable__row">
{#            <td>{{ object.id }}</td>#}
            <td>{{ object.username }}</td>
            <td>{{ object.initials }}</td>
{#            <td>{{ object.date_of_birth }}</td>#}
{#            <td>{{ object.phone_number }}</td>#}
{#            <td>{{ object.registration_address }}</td>#}
            <td>{{ object.gender.value | capitalize }}</td>
            <td>{{ object.role.value | capitalize }}</td>
        </tr>
    {% endfor %}
{% endblock %}
