{% extends "base/details.html" %}

{% block details %}
	<p><strong>ID:</strong> {{ object.id }}</p>
	<p><strong>Role:</strong> {{ object.role.value | capitalize }}</p>
	<p><strong>Gender:</strong> {{ object.gender.value | capitalize }}</p>
	<p><strong>Fullname:</strong> {{ object.fullname }}</p>
	<p><strong>Date of Birth:</strong> {{ object.formatted_date_of_birth }}</p>
	<p><strong>Registration Address:</strong> {{ object.registration_address }}</p>
	<p><strong>Phone number:</strong> {{ object.phone_number }}</p>
	<p><strong>Created at:</strong> {{ object.formatted_created_at }}</p>
    <p class="{{ 'red' if object.is_banned else 'green' }}">
        <strong>Banned:</strong> {{ 'Yes' if object.is_banned else 'No' }}
    </p>
{% endblock %}